# Identity Service Configuration
IDENTITY_SERVICE_URL=https://identity-service-365603594789.europe-west1.run.app/api/v1

# Task Service Configuration
TASK_SERVICE_URL=https://task-service-365603594789.europe-west1.run.app/api/v1
